/* 공통 CSS작성 */

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .6);
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

#sec1 {
    background-image: url('../img/taeho.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 100;
}