section {
  padding-top: 220px;
  width: 100%;
}

table {
  width: 80% !important;
  max-width: 1200px;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

section article:nth-child(2) {
  background: #f9fbfc;
  padding-top: 50px;
  padding-bottom: 50px;
}

#btnBox {
  /* display: none; */
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  animation: fadein 3s;
}

#btnBox button {
  color: #fff;
  font-weight: bold;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  background: #772cf0;
  border: none;
  font-size: 1.2em;
}

#btnBox button:hover {
  cursor: pointer;
}

#ment,
#subment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  animation: fadein 3s;
}

#ment h2 {
  font-size: 3em;
  font-weight: 700;
}

#subment h2 {
  font-size: 1.6em;
  font-weight: 600;
  color: #8b95a1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
