.okBtn {
    background-color: #51abf3 !important;
    border: 1px solid #51abf3 !important;
    color: #000000 !important;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.okBtn:hover{
    background-color: #309df6 !important;
}

.cancelBtn{
    border: 3px solid #51abf3 !important;
    background-color: #fff !important;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}


.addBtn {
    background-color: #508D69;
    border: 1px solid #508D69;
    color: #000000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.addBtn:hover{
    background-color: #3e7655;
}