#formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF;
  width: 50%;
  min-width: 463px;
  max-width: 693px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;

}

#frame {
  background: no-repeat url("@/assets/images/login/login.png");
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

 
label {
  font-weight: bold;
  margin-left: 10px;
}

input[type="password"],
input[type="text"] {
  border-radius: 10px;
  border: 1px solid #333;
  padding: 10px 20px;
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%;
}
.btnBox{
  display: flex;
  
}
.btnBox>button{
  margin-left:auto;
  padding: 10px 30px;


}