a {
  text-decoration: none;
  color: black;
  font-weight: bolder;

}
.statusBox{
  display: flex;
}
#homeBtn {
  font-weight: bold;

}

nav {
  background-color: #E0F4FF !important;
  z-index: 100;
  width: 100vw;

}